# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ana\Downloads\emt-2021-616665d6dd48f677fada15daf9f314fd750da78b\emt-2021-616665d6dd48f677fada15daf9f314fd750da78b\lab2-emt-frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
